@import url(https://fonts.googleapis.com/css?family=Muli&display=swap);
.noUi-target,.noUi-target *{-webkit-touch-callout:none;-webkit-tap-highlight-color:transparent;-webkit-user-select:none;-ms-touch-action:none;touch-action:none;-ms-user-select:none;-moz-user-select:none;user-select:none;-moz-box-sizing:border-box;box-sizing:border-box}.noUi-target{position:relative}.noUi-base,.noUi-connects{width:100%;height:100%;position:relative;z-index:1}.noUi-connects{overflow:hidden;z-index:0}.noUi-connect,.noUi-origin{will-change:transform;position:absolute;z-index:1;top:0;right:0;height:100%;width:100%;-ms-transform-origin:0 0;-webkit-transform-origin:0 0;-webkit-transform-style:preserve-3d;transform-origin:0 0;transform-style:flat}.noUi-txt-dir-rtl.noUi-horizontal .noUi-origin{left:0;right:auto}.noUi-vertical .noUi-origin{top:-100%;width:0}.noUi-horizontal .noUi-origin{height:0}.noUi-handle{-webkit-backface-visibility:hidden;backface-visibility:hidden;position:absolute}.noUi-touch-area{height:100%;width:100%}.noUi-state-tap .noUi-connect,.noUi-state-tap .noUi-origin{-webkit-transition:transform .3s;transition:transform .3s}.noUi-state-drag *{cursor:inherit!important}.noUi-horizontal{height:18px}.noUi-horizontal .noUi-handle{width:34px;height:28px;right:-17px;top:-6px}.noUi-vertical{width:18px}.noUi-vertical .noUi-handle{width:28px;height:34px;right:-6px;bottom:-17px}.noUi-txt-dir-rtl.noUi-horizontal .noUi-handle{left:-17px;right:auto}.noUi-target{background:#FAFAFA;border-radius:4px;border:1px solid #D3D3D3;box-shadow:inset 0 1px 1px #F0F0F0,0 3px 6px -5px #BBB}.noUi-connects{border-radius:3px}.noUi-connect{background:#3FB8AF}.noUi-draggable{cursor:ew-resize}.noUi-vertical .noUi-draggable{cursor:ns-resize}.noUi-handle{border:1px solid #D9D9D9;border-radius:3px;background:#FFF;cursor:default;box-shadow:inset 0 0 1px #FFF,inset 0 1px 7px #EBEBEB,0 3px 6px -3px #BBB}.noUi-active{box-shadow:inset 0 0 1px #FFF,inset 0 1px 7px #DDD,0 3px 6px -3px #BBB}.noUi-handle:after,.noUi-handle:before{content:"";display:block;position:absolute;height:14px;width:1px;background:#E8E7E6;left:14px;top:6px}.noUi-handle:after{left:17px}.noUi-vertical .noUi-handle:after,.noUi-vertical .noUi-handle:before{width:14px;height:1px;left:6px;top:14px}.noUi-vertical .noUi-handle:after{top:17px}[disabled] .noUi-connect{background:#B8B8B8}[disabled] .noUi-handle,[disabled].noUi-handle,[disabled].noUi-target{cursor:not-allowed}.noUi-pips,.noUi-pips *{-moz-box-sizing:border-box;box-sizing:border-box}.noUi-pips{position:absolute;color:#999}.noUi-value{position:absolute;white-space:nowrap;text-align:center}.noUi-value-sub{color:#ccc;font-size:10px}.noUi-marker{position:absolute;background:#CCC}.noUi-marker-sub{background:#AAA}.noUi-marker-large{background:#AAA}.noUi-pips-horizontal{padding:10px 0;height:80px;top:100%;left:0;width:100%}.noUi-value-horizontal{-webkit-transform:translate(-50%,50%);transform:translate(-50%,50%)}.noUi-rtl .noUi-value-horizontal{-webkit-transform:translate(50%,50%);transform:translate(50%,50%)}.noUi-marker-horizontal.noUi-marker{margin-left:-1px;width:2px;height:5px}.noUi-marker-horizontal.noUi-marker-sub{height:10px}.noUi-marker-horizontal.noUi-marker-large{height:15px}.noUi-pips-vertical{padding:0 10px;height:100%;top:0;left:100%}.noUi-value-vertical{-webkit-transform:translate(0,-50%);transform:translate(0,-50%);padding-left:25px}.noUi-rtl .noUi-value-vertical{-webkit-transform:translate(0,50%);transform:translate(0,50%)}.noUi-marker-vertical.noUi-marker{width:5px;height:2px;margin-top:-1px}.noUi-marker-vertical.noUi-marker-sub{width:10px}.noUi-marker-vertical.noUi-marker-large{width:15px}.noUi-tooltip{display:block;position:absolute;border:1px solid #D9D9D9;border-radius:3px;background:#fff;color:#000;padding:5px;text-align:center;white-space:nowrap}.noUi-horizontal .noUi-tooltip{-webkit-transform:translate(-50%,0);transform:translate(-50%,0);left:50%;bottom:120%}.noUi-vertical .noUi-tooltip{-webkit-transform:translate(0,-50%);transform:translate(0,-50%);top:50%;right:120%}.noUi-horizontal .noUi-origin>.noUi-tooltip{-webkit-transform:translate(50%,0);transform:translate(50%,0);left:auto;bottom:10px}.noUi-vertical .noUi-origin>.noUi-tooltip{-webkit-transform:translate(0,-18px);transform:translate(0,-18px);top:auto;right:28px}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*, *::before, *::after{
    box-sizing: inherit;
}
body {
    background: url(../assets/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    max-width: 100vw;
    min-height: calc(100vh - 140px);
}
header {
    width: 100%;
    height: 80px;
    background: rgb(46, 46, 46);
}
.header_container{
    width: 1300px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.header_nav a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 24px;
    transition: all 0.4s;
}

.header_nav a:hover {
    color:rgb(42, 156, 145);
    transition: all 0.4s;
}

.header_nav {
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    background: url(../assets/svg/tree.svg);
    width: 50px;
    height: 70px;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    transition: all 0.4s;
}

.start_image_one {
    width: 400px;
    height: 735px;
    position: absolute;
    left: calc(43% - 550px);
    top: 80px;
}
.start_image_one img,
.start_image_two img {
    width: 100%;
    height: 100%;
    margin-left: 50%;
    margin-bottom: 10px;
}

.start_image_two {
    width: 236px;
    height: 429px;
    position: absolute;
    left: calc(48% + 150px);
    top: 80px;
}

.start_title {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 600px;
    height: 250px;
    margin-bottom: 80px;
    margin-top: 347px;
    margin-left: 400px;
    color: #fff;
    font-weight: 400;
    text-align: center;
    border: 3px solid #278D9F;
    border-radius: 25px;
    background-color: rgba(31, 112, 127, .3);
    backdrop-filter: blur(6px);
    font-size: 48px;
}

.switch_start_page_btn {
    position: relative;
    width: 320px;
    height: 60px;
    left: calc(-46% + 150px);
    top: 626px;
    border: 3px solid #278D9F;
    border-radius: 30px;
    background-color: rgba(31, 112, 127, .3);
    backdrop-filter: blur(6px);
    font-weight: 300;
    font-size: 22px;
    color: #fff;
    cursor: pointer;
    transition: .3s;
    overflow: hidden;
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, 0.5);
    outline-offset: 0px;
    transition: all 0.5s linear;
}

.switch_start_page_btn:hover {
    transform: scale(1.2);
    transition: all 0.5s linear;
}

.switch_start_page_btn:active {
    top: 627px;
    border: 3px solid #9fe9f7;
    background-color: rgba(60, 248, 207, 0.692);
}

.logo:hover{
    filter: invert(53%) sepia(6%) saturate(4393%) hue-rotate(142deg) brightness(88%) contrast(88%);
    transition: all 0.4s;
}

.header_control {
    display: flex;
    width: 40%;
    justify-content: space-between;
    align-items: center;
}

.search {
    width: 380px;
    height: 40px;
    padding: 5px 25px;
    margin: 10px 0;
    margin-right: 30px;
    border-radius: 20px;
    border: 1px solid #278D9F;
    color: #fff;
    font-size: 18px;
    background-color: rgba(54, 135, 150, 0.664);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 330px center;
    backdrop-filter: blur(6px);
}

.chosen {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(54, 135, 150, 0.664);
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.toys {
    max-width: 1300px;
    height: 1300px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    transition: all 0.4s;
}
.toys_item {
    width: 20%;
    height: 20%;
    margin: 10px;
    background: radial-gradient(109.56% 109.56% at 0% -2.94%, rgba(255, 255, 255, 0.5) 0%, rgba(138, 235, 248, 0.5) 100%);
    backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 0.5px solid aqua;
    cursor: pointer;
}
.toys_count {
    font-size: 3rem;
    color: rgb(207, 177, 4);
}
h2 {
    text-transform: uppercase;
    font-size: 24px;
    padding-top: 10px;   
    padding-left: 10px;
    text-align: center;
    color: white;
}
h3 {
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;   
    padding-left: 10px;
    text-align: center;
}
.toys p {
    padding-left: 10px;
    margin: 2px;
    color: rgb(48, 48, 48);
}
.toys_background {
    width: 30%;
    height: 30%;
    display: flex;
}
.toys_background img {
    width: 100%;
    height: 100%;
    margin-left: 50%;
    margin-bottom: 10px;
}
.settings {
    width: 1300px;
    height: 300px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.value_filter,
.diapasone_filter,
.sorting {
    width: 400px;
    height: 300px;
    background: radial-gradient(109.56% 109.56% at 0% -2.94%, rgba(255, 255, 255, 0.5) 0%, rgba(138, 235, 248, 0.5) 100%);
    backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 2px solid #278D9F;
}

/*Value filters start*/

.filter_title {
    color: white;
    font-size: 22px;
    align-self: center;
    margin: 0px 0px 25px 25px;
}

     /*Shape filter:*/
.active {
    transition: all 0.3s;
    filter: invert(59%) sepia(71%) saturate(1887%) hue-rotate(146deg) brightness(106%) contrast(97%);
}

.form_filter {
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    margin-bottom: 20px;
}

.form_filter button:hover {
    transform: scale(1.1);
    transition: all 0.3s;
}

button {
    cursor: pointer;
}

.form_filter button:nth-child(2){   
    background: url(../assets/svg/ball.svg);  
    width: 40px;
}

.form_filter button:nth-child(3){   
    background: url(../assets/svg/bell.svg); 
    width: 40px;
}

.form_filter button:nth-child(4){   
    background: url(../assets/svg/cone.svg);
    width: 40px; 
}

.form_filter button:nth-child(5){   
    background: url(../assets/svg/snowflake.svg);
    width: 40px;
}

.form_filter button:nth-child(6){   
    background: url(../assets/svg/toy.svg); 
    width: 30px;    
}
.form_filter button:nth-child(2),
.form_filter button:nth-child(3),
.form_filter button:nth-child(4),
.form_filter button:nth-child(5),
.form_filter button:nth-child(6) {
    height: 40px; 
    background-size: cover;
    background-repeat: no-repeat;
    border: none; 
}
    /*Color filter*/
.color_filter {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
}
/* .checked {

} */
.checked::after {
    content: '';
    display: block;
    position: relative;
    top: -2px;
    left: -1px;
    width: 16px;
    height: 16px;
    border: solid rgb(10, 10, 10);
    border-width: 0 4px 4px 0;
    transform: rotate(45deg);
}
.color_filter button:nth-child(2){
    background: white;
}    

.color_filter button:nth-child(3){
    background: yellow;
} 

.color_filter button:nth-child(4){
    background: red;
} 

.color_filter button:nth-child(5){
    background: blue;
} 

.color_filter button:nth-child(6){
    background: green;
} 
.color_filter button:nth-child(2),
.color_filter button:nth-child(3),
.color_filter button:nth-child(4),
.color_filter button:nth-child(5),
.color_filter button:nth-child(6) {
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

     /*Size filter*/

.size_filter {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 15px;
}
.size_filter button:hover {
    transform: scale(1.1);
    transition: all 0.3s;
}

.size_filter button:nth-child(2) {
    width: 50px;
    height: 50px;
    background: url(../assets/svg/ball.svg);
}

.size_filter button:nth-child(3) {
    width: 40px;
    height: 40px;
    background: url(../assets/svg/ball.svg);
}

.size_filter button:nth-child(4) {
    width: 30px;
    height: 30px;
    background: url(../assets/svg/ball.svg);
}

.size_filter button:nth-child(4),
.size_filter button:nth-child(3),
.size_filter button:nth-child(2) {
    border: none;
    background-size: cover;
    background-repeat: no-repeat;
}

    /*Favorite filter*/

.favorite_filter {
    display: flex;
    justify-content: space-evenly;
}

.favorite_input {
    display: none;
}

.favorite_label {
    position: relative;
    display: flex;
    width: 30px;
    height: 30px;
    backdrop-filter: blur(6px);
    border: 1px solid #278D9F;
    border-radius: 5px;
    padding: 0;
    margin: 0;
    margin-left: 20px;
    cursor: pointer;
    transition: .5s;
}

.favorite_input:checked + .favorite_label::after {
    content: '';
    display: block;
    position: absolute;
    top: 3px;
    left: 7px;
    width: 16px;
    height: 16px;
    border: solid rgb(0, 0, 0);
    border-width: 0 4px 4px 0;
    transform: rotate(45deg);
}    
/*Value filters end*/

/*Diapason filters start*/

.diapasone_range {
    padding-top: 15px;
}

.slider_container {
    display: flex;
    justify-content: space-evenly;
}


.slider_count {
    width: 200px;
    margin: auto;
    margin-bottom: 30px;
}

.slider_year {
    width: 200px;
    margin: auto;
}

.counter_slider {
    border: 2px solid rgb(3, 222, 238);
    border-radius: 10px;
    width: 55px;
    height: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
}

.noUI-handle {
    border-radius: 50%;
}

/*Sorting filter*/

.reset {
    width: 120px;
    height: 40px;
    border-radius: 10px;
    font-size: 16px;
    color: white;
    background: turquoise;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin-left: 15px;
    box-shadow: 2px 2px 3px black;
}

.reset:active {
    background: rgb(16, 180, 164);
}

.reset:hover {
    transform: scale(1.1);
    transition: all 0.3s;
}

.add_favorite {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 30px;
    background: rgb(251, 253, 144);
    border-radius: 10px;
    float: right;
    color: rgb(117, 117, 117);
    font-size: 18px;
    font-weight: bold;
    margin-right: 7px;
    box-shadow: 2px 2px 3px black;
}

.yes {
    color: rebeccapurple;
    background: gold;
}

.favorite_element {
    box-shadow: 0 -5px 28px rgba(255, 230, 2, 0.698), 0 10px 10px rgba(188, 255, 5, 0.815);
    transition: all 0.4s;
    border: 2px solid gold;
}

.modal_window {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 500px;
    height: 300px;
    padding: 15px;
    position: fixed;
    z-index: 1;
    margin: auto;
    background: rgba(32, 184, 32, 0.746);
    color: white;
    font-size: 36px;
    border-radius: 10px;
    top: -450px;
    left: 710px;
    transition: all 0.5s;
}

.warning {
    top: 300px;
    transition: all 0.5s;
}

.close_window {
    display:flex;
    align-items: center;
    width: 80px;
    height: 35px;
    font-size: 18px;
    background: cornflowerblue;
    border-radius: 10px;
    position: relative;
    top: -123px;
    right: -40;
    cursor: pointer;
    transition: all 0.5s;
}

.close_window:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

.close_window:active {
    background: rgb(146, 176, 233);
}

.name_select {
    appearance: none;
    border: 0;
    outline: 0;
    font: inherit;
    width: 380px;
    height: 40px;
    padding: 5px 25px;
    margin: 10px 0;
    margin-bottom: 25px;
    background-color: rgba(31, 112, 127, .3);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 340px center;
    backdrop-filter: blur(6px);
    border-radius: 20px;
    border: 1px solid #278D9F;
    font-size: 20px;
    line-height: 28px;
    color: #fff;
    cursor: pointer;
}

/*Tree page*/

.page_container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
    max-width: 1600px;
    height: calc(100vh - 140px);
    min-height: 750px;
    margin: 0 auto;
    padding: 0;
}

.options_tree {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    height: 100%;
    width: 400px;
    padding-top: 25px;
}

.main_tree_container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url(../assets/bg/1.jpg);
    background-size: cover;
    background-position: center;
    height: calc(100vh - 140px);
    min-height: 750px;
    width: 800px;
    padding-bottom: 20px;
    overflow: hidden;
}

.favorites_container {
    height: calc(100vh - 140px);
    min-height: 750px;
    width: 400px;
}

.favorite_toys_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    gap: 10px;
    width: 100%;
    padding-top: 25px;
    padding-left: 25px;
}

.favorite_toys_container::before {
    content: "Игрушки";
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    padding: 10px;
    padding-left: 0;
    text-transform: uppercase;
    color: white;
}

.favorite_card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    max-width: 84px;
    min-height: 84px;
    border-radius: 10px;
    background-color: rgba(158, 158, 158, 0.637);
}

.favorite_count {
    z-index: 10;
    align-self: flex-end;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-left: 60px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 900;
}

.favorite_card_img {
    display: block;
    position: absolute;
    width: auto;
    height: 60px;
    width: 60px;
    object-fit: contain;
    cursor: move;
}

.menu_container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    margin-bottom: 20px;
}

.menu_item {
    width: 80px;
    height: 80px;
    gap: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.music {
    width: 40px;
    height: 40px;
    margin-right: 40px;
    background-image: url(../assets/svg/audio.svg); 
}

.snow {
    width: 40px;
    height: 40px;
    background-image: url(../assets/svg/snow.svg);
}

.choose_tree_container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    margin-bottom: 20px;
}

.choose_tree_container::before {
    content: "Выберите ёлку";
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    padding: 10px;
    padding-left: 0;
    text-transform: uppercase;
    color: white;
}

.tree {
    width: 115px;
    height: 115px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .5);
    background-size: auto 110px;
}

.tree:nth-child(1) {
    background-image: url(../assets/tree/1.png);
}

.tree:nth-child(2) {
    background-image: url(../assets/tree/2.png);
}

.tree:nth-child(3) {
    background-image: url(../assets/tree/3.png);
}

.tree:nth-child(4) {
    background-image: url(../assets/tree/4.png);
}

.tree:nth-child(5) {
    background-image: url(../assets/tree/5.png);
}

.tree:nth-child(6) {
    background-image: url(../assets/tree/6.png);
}

.background_container::before {
    content: "Выберите фон";
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    padding: 10px;
    padding-left: 0;
    text-transform: uppercase;
    color: white;
}
.background {
    width: 65px;
    height: 65px;
    border: 1px solid #cccc;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .5);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.background:nth-child(1) {
    background-image: url(../assets/bg/1.jpg);
}

.background:nth-child(2) {
    background-image: url(../assets/bg/2.jpg);
}

.background:nth-child(3) {
    background-image: url(../assets/bg/3.jpg);
}

.background:nth-child(4) {
    background-image: url(../assets/bg/4.jpg);
}

.background:nth-child(5) {
    background-image: url(../assets/bg/5.jpg);
}

.background:nth-child(6) {
    background-image: url(../assets/bg/6.jpg);
}

.background:nth-child(7) {
    background-image: url(../assets/bg/7.jpg);
}

.background:nth-child(8) {
    background-image: url(../assets/bg/8.jpg);
}

.background:nth-child(9) {
    background-image: url(../assets/bg/9.jpg);
}

.background:nth-child(10) {
    background-image: url(../assets/bg/10.jpg);
}

.torse_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 360px;
    height: 110px;
}

.torse_container::before {
    content: "Гирлянда";
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    padding: 10px;
    padding-left: 0;
    text-transform: uppercase;
    color: white;
}

.torse_switcher {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    padding: 10px;
}

.color_btn {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.multicolor_btn {
    background: linear-gradient(
    124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8);
    box-shadow: rgb(0 0 0 / 20%) 0 -1px 7px 1px, inset #441313 0 -1px 9px, #ccc 0 2px 12px;
}

.red_btn {
    background-color: #F00;
    box-shadow: rgb(0 0 0 / 20%) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgb(255 0 0 / 50%) 0 2px 12px;
}

.blue_btn {
    background-color: #24E0FF;
    box-shadow: rgb(0 0 0 / 20%) 0 -1px 7px 1px, inset #006 0 -1px 9px, #3f8cff 0 2px 14px;
}

.yellow_btn {
    background-color: #FF0;
    box-shadow: rgb(0 0 0 / 20%) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #ff0 0 2px 12px;
}

.green_btn {
    background-color: #ABFF00;
    box-shadow: rgb(0 0 0 / 20%) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89ff00 0 2px 12px;
}

.on_off_switcher_btn {
    /* position: relative; */
    width: 68px;
    height: 36px;
    border: 3px solid #278D9F;
    border-radius: 30px;
    background-color: rgba(31, 112, 127, .3);
    backdrop-filter: blur(6px);
    font-weight: 300;
    font-size: 22px;
    color: #fff;
    cursor: pointer;
    transition: .3s;
    overflow: hidden;
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, 0.5);
    outline-offset: 0px;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 0.4s;
}

.on_off_switcher_btn:hover {
    transform: scale(1.1);
    transition: all 0.4s;
}

.on_off_switcher_btn:active {
    color: rgb(5, 183, 253);
}

.main_tree {
    display: block;
    width: 500px;
    height: 714px;
}
/*Snowflakes*/

.falling_down_snow {
    height: calc(90vh - 50px);
    width: 800px;
    position: absolute;
    top: 82px;
    left: 50%;
    margin-left: -400px;
    pointer-events: none;
    z-index: 100;
    overflow: hidden;
}

.fa-snowflake {
	color: #fff;
	position: absolute;
	top: -20px;
	animation: fall linear forwards;
}

@keyframes fall {
	to {
		transform: translateY(105vh);
	}
}

.reset_options {
    width: 260px;
    height: 36px;
    border: 3px solid #278D9F;
    border-radius: 30px;
    background-color: rgba(31, 112, 127, .3);
    backdrop-filter: blur(6px);
    font-weight: 300;
    font-size: 22px;
    color: #fff;
    cursor: pointer;
    transition: .3s;
    overflow: hidden;
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, 0.5);
    outline-offset: 0px;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 0.4s;
}

.reset_options:hover {
    transform: scale(1.1);
    transition: all 0.4s;
}

.reset_options:active {
    color: rgb(5, 183, 253);
}

.hidden {
    visibility: hidden;
}

.torse_tree_container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: calc(76vh - 100px);
    width: 800px;
    position: absolute;
    top: 195px;
    left: 50%;
    margin-left: -400px;
    pointer-events: none;
    z-index: 90;
    overflow: hidden;
}

.red {
    background: red;
    box-shadow: inset #ff0000 0 0 30px 6px,
	                  #ff0000 0 0 18px 8px;
    animation: color_red ease-in-out 2s infinite;                  
}

@keyframes color_red {
    0% {
        box-shadow: inset #ff0000 0 0 0 0,
        #ff0000 0 0 0 0;
    }
    50% {
        box-shadow: inset #ff0000 0 0 30px 6px,
        #ff0000 0 0 18px 8px;
    }
    100% {
        box-shadow: inset #ff0000 0 0 0 0,
        #ff0000 0 0 0 0;
    }
}

.blue {
    background: rgb(4, 29, 255);
    box-shadow: inset #00ccff 0 0 30px 6px,
	                  #0051ff 0 0 18px 8px;
    animation: color_blue step-end 1s infinite;
}
@keyframes color_blue {
    0% {
        box-shadow: inset #00ccff 0 0 30px 6px,
        #0051ff 0 0 18px 8px;
    }
    50% {
        box-shadow: inset #00ccff 0 0 0 0,
        #0051ff 0 0 0 0;
    }
    100% {
        box-shadow: inset #00ccff 0 0 30px 6px,
        #0051ff 0 0 18px 8px;
    }
}

.yellow {  
    background: rgb(251, 255, 4);
    box-shadow: inset #fffb00 0 0 30px 6px,
                      #ffe600 0 0 18px 8px;
    animation: color_yellow ease-in 0.7s infinite;                 
}
@keyframes color_yellow {
    0% {
        box-shadow: inset #fffb00 0 0 30px 6px,
        #ffe600 0 0 0 0;
    }
    50% {
        box-shadow: inset #fffb00 0 0 30px 6px,
        #ffe600 0 0 18px 8px;
    }
    100% {
        box-shadow: inset #fffb00 0 0 30px 6px,
        #ffe600 0 0 0 0;
    }
}
.green {  
    background: rgb(0, 250, 12);
    box-shadow: inset #48ff00 0 0 30px 6px,
                      #33ff00 0 0 18px 8px;
    animation: color_green linear 10s infinite;                  
}
@keyframes color_green {
    0% {
        background: rgb(0, 250, 12);
        box-shadow: inset #48ff00 0 0 30px 6px,
        #33ff00 0 0 18px 8px;
    }
    50% {
        background: rgba(0, 250, 12, 0);
        box-shadow: inset #48ff00 0 0 0 0,
        #33ff00 0 0 0 0;
    }
    100% {
        background: rgb(0, 250, 12);
        box-shadow: inset #48ff00 0 0 30px 6px,
        #33ff00 0 0 18px 8px;
    }
}

.multicolor {  
    animation: linear multi 5s infinite;
}   
@keyframes multi {
    0% {
        background: #00ccff;
        box-shadow: inset #00ccff 0 0 30px 6px,
        #0051ff 0 0 18px 8px;
    }
    8.3% {
        background: #00ccff;
        box-shadow: inset #00ccff 0 0 0px 0px,
        #0051ff 0 0 0px 0px;
    }
    16.6% {
        background: #48ff00;
        box-shadow: inset #48ff00 0 0 30px 6px,
        #33ff00 0 0 18px 8px;
    }
    24.9% {
        background: #48ff00;
        box-shadow: inset #48ff00 0 0 0 0,
        #33ff00 0 0 0 0;
    }
    33.3% {
        background: #ff0000;
        box-shadow: inset #ff0000 0 0 30px 6px,
        #ff0000 0 0 18px 8px;
    }
    41.6% {
        background: #ff0000;
        box-shadow: inset #ff0000 0 0 0 0,
        #ff0000 0 0 0 0;
    }
    49.9% {
        background: #fffb00;
        box-shadow: inset #fffb00 0 0 30px 6px,
        #ffe600 0 0 18px 8px;
    }
    58.3% {
        background: #fffb00;
        box-shadow: inset #fffb00 0 0 0 0,
        #ffe600 0 0 0 0;
    }
    66.6% {
        background: #ffffff;
        box-shadow: inset #ffffff 0 0 30px 6px,
        #e7e7e7 0 0 18px 8px;
    }
    74.9% {
        background: #ffffff;
        box-shadow: inset #ffffff 0 0 0 0,
        #e7e7e7 0 0 0 0;
    }
    83.2% {
        background: #ff7300;
        box-shadow: inset #ff7300 0 0 30px 6px,
        #ff7300 0 0 18px 8px;
    }
    91.5% {
        background: #ff7300;
        box-shadow: inset #ff7300 0 0 0px 0px,
        #ff7300 0 0 0px 0px;
    }
    100% {
        background: #00ccff;
        box-shadow: inset #00ccff 0 0 30px 6px,
        #0051ff 0 0 18px 8px;
    }
}


.lightlevel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.lightlevel div {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.lightlevel div:nth-child(1) {
    margin-top: -10px;
}

.lightlevel div:nth-child(2) {
    margin-top: 8px;
}

.lightlevel div:nth-child(3) {
    margin-top: 15px;
}

.lightlevel div:nth-child(4) {
    margin-top: 19px;
}

.lightlevel div:nth-child(5) {
    margin-top: 24px;
}

.lightlevel div:nth-child(6) {
    margin-top: 29px;
}

.lightlevel div:last-child {
    margin-top: -10px;
}

.unit_0 div:nth-child(2) {
    margin-top: 10px;
}
.unit_1 div:nth-child(3) {
    margin-top: 24px;
}
.unit_2 div:nth-child(6) {
    margin-top: 16px;
}
.unit_2 div:nth-child(8) {
    margin-top: -8px;
}
.unit_3 div:nth-child(7) {
    margin-top: 19px;
}
.unit_3 div:nth-child(8) {
    margin-top: 11px;
}
.unit_4 div:nth-child(7) {
    margin-top: 37px;
}
.unit_4 div:nth-child(8) {
    margin-top: 25px;
}
.unit_4 div:nth-child(9) {
    margin-top: 20px;
}
.unit_4 div:nth-child(10) {
    margin-top: 15px;
}
.unit_4 div:nth-child(11) {
    margin-top: 10px;
}
.unit_4 div:nth-child(12) {
    margin-top: -9px;
}
.unit_4 div:nth-child(13) {
    margin-top: 10px;
}
.unit_5 div:nth-child(7) {
    margin-top: 38px;
}
.unit_5 div:nth-child(8) {
    margin-top: 49px;
}
.unit_5 div:nth-child(9) {
    margin-top: 38px;
}
.unit_5 div:nth-child(10) {
    margin-top: 26px;
}
.unit_5 div:nth-child(11) {
    margin-top: 12px;
}
.unit_5 div:nth-child(12) {
    margin-top: -14px;
}
.unit_5 div:nth-child(13) {
    margin-top: -28px;
}
.unit_5 div:nth-child(14) {
    margin-top: -36px;
}
.unit_5 div:nth-child(15) {
    margin-top: -67px;
}

.hide {
    display: none;
}

.footer {
    position: relative;
    bottom: -444px;
}

.footer_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 1600px;
    height: 70px;
    margin: 0 auto;
}

.footer_data {
    display: flex;
    align-items: center;
}

.copyright {
    padding-right: 20px;
    color: #fff;
}

.year {
    color: #fff;
}

.my_github {
    color: #fff;
    text-decoration: none;
    padding: 0 20px;
    transition: .3s;
}

.rss_logo {
    width: 160px;
    height: 60px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../assets/svg/rss.svg);
    transition: .3s;
}
